body {
  margin: 6rem;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 5px 35px 5px;
  color: #7c7982;
}

.nav-body {
  display: flex;
}

.logo {
  height: 1.7rem;
}

.nav-icon {
  margin-right: 2rem;
}

.nav-icon:hover{
  color: #f25d50;
  cursor: pointer;
}

.body {
  display: flex;
}

.part1 {
  width: 65%;
  margin-right: 1.5rem;
}

.part1-img {
  height: 300px;
  width: 650px;
}

.part1-desc {
  display: flex;
  align-items: center;
}

.part1-desc-1 {
  flex: 1;
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 3.4rem;
}

.part1-desc-2 {
  flex: 1;
}
.part1-desc-2 p {
  margin-bottom: 3.5rem;
  font-size: 14px;
  line-height: 25px;
  color: hsl(236, 13%, 42%);
}

.part1-desc-2 span {
  background-color: #f25d50;
  color: white;
  padding: 11px 20px 11px 20px;
  letter-spacing: 4px;
  font-size: 13px;
  font-weight: 600;
}

.part1-desc-2 span:hover{
  background-color: #00001a;
  cursor: pointer;

}

.part2 {
  background-color: #00001a;
  color: hsl(36, 100%, 99%);
  padding: 0px 25px 0px 25px;
}

.part2-head {
  color: #daa75f;
  font-size: 2.75rem;
}

.part2-inner-div {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  padding-bottom: 1.1rem;
  text-align: left;
  margin-top: 1.3rem;
}

.part2-inner-div h3:hover{
  color: #daa75f;
  cursor: pointer;
}

.part2-inner-div p {
  font-size: 15px;
  line-height: 25px;
  color: hsl(233, 8%, 79%);
}

.part3 {
  margin-top: 4rem;
  display: flex;
}

.part3-1 {
  flex: 1;
  display: flex;
  align-content: normal;
  align-items: center;
  margin-right: 2px;
}
.part3-1 img {
  margin-right: 15px;
  width: 130px;
  height: 140px;
}

.part3-1-body h1 {
  color: hsl(233, 8%, 79%);
  margin-bottom: 15px;
}

.part3-1-body h4 {
  color: hsl(240, 100%, 5%);
  margin: 13px 0 13px 0;
  font-weight: 900;
}

.part3-1-body h4:hover{
  color: #f25d50;
  cursor: pointer;
}

.part3-1-body p {
  color: #5d5f79;
  font-weight: 500;
  line-height: 2rem;
}
